
/** Common & Reset style **/
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    background: #fff;
    font-family: 'proxima_nova_rgregular', Arial, Sans-serif;
    font-size: 14px;
    line-height:normal;
    color: #000;
    margin: 0;
    padding: 0;
}


*, *:after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* comon style */
.clearfix:after {
    content: " ";
    display: table;
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: block;
}

.container{
    width: 960px;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 0 0 16px;
}

a{
    color: inherit;
    outline: 0;
    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

a:active,
a:focus,
a:hover{
    outline: 0;
    color: #0ea29d;
    text-decoration: none;
}

ul li,
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
    font-size: 33px;
    line-height: normal;
}

h2{
    font-family: 'proxima_novasemibold', Arial, Sans-serif;
    font-size: 25px;
    line-height: normal;
    font-weight: normal;
}

h3{
    font-family: 'proxima_novasemibold', Arial, Sans-serif;
    font-size: 20px;
    line-height: normal;
}

p{
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
}

.form-group{
    position: relative;
}

.form-control{
    background: #fafafa;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid #ececec;
    min-height: 44px;
    padding: 10px;
    box-shadow: 0 -1px 1px #ececec;
    display: inline-block;
}

button{
    border: none;
}

.btn-default{
    background: #18bcb6;
    color: #fff;
    display: inline-block;
    font-family: 'proxima_novasemibold', Arial, Sans-serif;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 18px;
    border: 0 none;
    border-bottom: 3px solid #089792;
    border-radius: 0;
    opacity: 1;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover{
    background: #18bcb6;
    border-bottom: 3px solid #089792;
    opacity: 0.9;
    color: #fff;
    outline: none;
}


::-webkit-input-placeholder { color: #ababab; }
:-moz-placeholder { color: #ababab; }
::-moz-placeholder { color: #ababab; }
:-ms-input-placeholder { color: #ababab; } 


/*** To start style ***/
/* header */

#header{
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ececec;
    width: 100%;
    height: 80px;
    display: block;
    z-index: 100;
    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.head{
    position: relative;
    padding: 17px 0 15px;
}


/* logo */
#header .logo{
    position: absolute;
    left: 0;
    top: 18px;
    height: 45px;
    width: 50px;
}
#header .logo img{
    display: block;
    width: 100%;
}

/* menuber */
.menuber{
    display: block;
    padding-top: 2px;
    text-align: right;
}

.navbar-collapse{
    padding: 0;
}

.navbar-default{
    display: inline-block;
    background: none;
    border: none;
    margin-bottom: 0;
    min-height: 40px;
}

.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding: 14px 18px 10px;
    line-height: normal;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > .current-menu-item > a, 
.navbar-default .navbar-nav > .current-menu-item > a:hover, 
.navbar-default .navbar-nav > .current-menu-item > a:focus{
    background: none;
    color: #0ea29d;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle{
    background: #18bcb6;
    border: 2px solid #089792;
    margin-bottom: 20px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-nav > li.download:hover > a,
.navbar-default .navbar-nav > li.download > a{
    background: #18BCB6;
    border-bottom: 3px solid #089792;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
    margin-top: 4px;
    opacity: 1;
    padding: 0;
    text-align: center;
    width: 126px;
}
.navbar-default .navbar-nav > li.download:hover > a{
    opacity: 0.9;
}


/* content */
#content{
    position: relative;
    margin: 0;
    padding: 0;
}

/* featured */
.featured{
    display: block;
    padding: 50px 0; 
    border-bottom: 1px solid #ececec;
}

.featured .feature_banner{
    background: url(../images/slide_img1.jpg) no-repeat center top;
    min-height: 384px;
    position: relative;
}

/* slider */
.slider{
    display: block;
}
.slider .carousel{
    background: url(../images/slide_img2.jpg) no-repeat top center;
}
.slider .carousel-inner > .item{
    height: 610px;
}

.slider .carousel-inner .featured_caption{
    display: block;
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.slider .carousel-inner .featured_caption h1{
    font-weight: normal;
    line-height: 46px;
}
.slider .carousel-inner .featured_caption h1 strong{
    display: block;
}

.slider .carousel-inner .featured_caption p{
    font-size: 20px;
}


/* pricing */
.pricing{
    display: block;
    background: #fafafa;
    padding: 60px 0;
    border-bottom: 1px solid #ececec;
}

/* content_title */
.content_title{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 50px;
    text-align: center;
}
.content_title h1{
    text-transform: uppercase;
}
.content_title p{
    font-size: 20px;
    color: #b7b7b7;
}

.content_title.white h1{
    color: #fff;
}
.content_title.white p{
    color: #efefef;
}

.content_title.icon_comp_chart{
    background: url(../images/comparison_chart_icon.png) no-repeat center top;
    padding-top: 80px;
}
.content_title.icon_pricing_faq{
    background: url(../images/icon_pricing_faq.png) no-repeat center top;
    padding-top: 80px;
}

/* comparison_chart */
.comparison_chart{
    position: relative;
}

.comparison_chart .chart_item{
    display: block;
    background: #fff;
    border: 1px solid #ececec;
    margin: 0 -10px 20px;
}

.comparison_chart .chart_item .chart_title{
    background: #18bcb6;
    color: #fff;
    padding: 30px 15px;
    text-align: center;
}
.comparison_chart .chart_item .chart_title h1{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.comparison_chart .chart_item .chart_title span{
    font-size: 28px;
    display: block;
}
.comparison_chart .chart_item h2{
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
}

.comparison_chart .chart_item .chart_list{
    display: block;
    padding: 20px;
    background: #fff;
}
.comparison_chart .chart_item .chart_list li{
    background: url(../images/icon_chart_list.png) no-repeat left 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    padding-left: 25px;
    display: block;
    margin-bottom: 20px;
    min-height: 20px;
}
.comparison_chart .chart_item .btn-default{
    width: 100%;
    font-size: 20px;
    padding: 14px 10px 10px;
    margin: 10px auto;
}

/* pricing FAQ */
.pricing_faq{
    background: #fff;
    padding: 60px 0 30px;
    display: block;
}

.faq{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
}
.faq .faq_item{
    margin-bottom: 30px;
    display: block;
}

.faq h2{
    line-height: 24px;
}
.faq p{
    line-height: 22px;
    font-size: 16px;
}
.faq a{
    color: #0EA29D;
}

.faq .faq_left{
    float: left;
    max-width: 410px;
    width: 100%;
}

.faq .faq_right{
    float: right;
    max-width: 400px;
    width: 100%;
}

.question{
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

/* Home page welcome */
#welcome{
    background: url(../images/welcome_bg.jpg) no-repeat top center;
    min-height: 924px;
}

#welcome .intro{
    position: relative;
    padding-top: 80px;
    text-align: center;
    color: #fff;
}

#welcome .logo{
    display: inline-block;
    width: 178px;
    height: 165px;
    margin-bottom: 100px;
}
#welcome .logo img{
    display: block;
    width: 100%;
}

.register{
    display: inline-block;
    max-width: 850px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
    text-align: center;
}

.register h1{
    color: #fff;
    font-weight: normal;
    margin-bottom: 50px;
}

.register ul{
    margin: 0;
    padding: 0 80px;
}

.register ul li{
    list-style: none;
}

.register .form-group{
    width: 70%;
    margin-right: 3%;
    float: left;
}
.register .form-group .form-control{
    box-shadow: none;
    height: 46px;
    border: 0 none;
}

.register .btn-default{
    width: 27%;
    float: right;
    padding: 0 5px;
    font-size: 22px;
    height: 46px;
}

.wdt_300{
    max-width: 300px;
    width: 100%;
}

.wdt_440{
    max-width: 440px;
    width: 100%;
}

/* macbook_pro */
.macbook_pro{
    background: #0ea29d;
    padding: 80px 0 50px;
    color: #fff;
}

.macbook_pro .mac_laptop{
    background: url(../images/macbook_pro.png) no-repeat top center;
    margin: 0 -15px 30px -30px;
    position: relative;
    width: 673px;
    height: 412px;
}
.macbook_pro .mac_laptop:after{
    background: url(../images/mac_glare.png) no-repeat top right;
    content: " ";
    clear: both;
    position: absolute;
    right: 63px;
    top: 0px;
    height: 321px;
    width: 207px;
}

.macbook_pro .mac_laptop .video{
    width: 510px;
    height: 314px;
    left: 81px;
    position: absolute;
    top: 27px;
}
.macbook_pro .mac_laptop .video img,
.macbook_pro .mac_laptop .video iframe{
    width: 100% !important;
    height: 100% !important;
}
.macbook_pro .video_details{
    position: relative;
    display: block;
    text-align: left;
    color: #fff;
    margin-left: 25px;
}
.macbook_pro .video_details h2{
    background: url(../images/icon_video.png) no-repeat top left;
    padding-left: 80px;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    min-height: 80px;
}
.macbook_pro .video_details p{
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.play_btn{
    background: url(../images/icon_play_btn.png) no-repeat center top;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 40%;
    width: 77px;
    height: 54px;
    z-index: 10;

    -webkit-transition: all 0s ease-in-out;
      -moz-transition: all 0s ease-in-out;
        -o-transition: all 0s ease-in-out;
        -ms-transition: all 0s ease-in-out;
            transition: all 0s ease-in-out;
}

.play_btn:hover{
    background-position: center bottom;
}

.section_content{
    position: relative;
    display: block;
    text-align: center;
}

.section_content img{
    display: inline-block;
}

.instraction span{
    position: absolute;
}
.instraction span p{
    font-family: 'angelinaregular', Arial, Sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}

/* simple_text_editing */
.text_editing{
    background: #fff;
    padding: 70px 0;
}

.content_title.icon_simple_text_editing {
    background: url("../images/icon_simple_text_editing.png") no-repeat scroll center top;
    padding-top: 80px;
}

.ste_right_arrow{
    background: url(../images/ste_right_arrow.png) no-repeat left bottom;
    position: absolute;
    right: -50px;
    top: 30px;
    height: 140px;
    width: 177px;
}

span.ste_right_arrow p{
    max-width: 100px;
    float: right;
}

.ste_left_arrow{
    background: url(../images/ste_left_arrow.png) no-repeat right center;
    position: absolute;
    left: -85px;
    top: 110px;
    height: 110px;
    width: 243px;
}
span.ste_left_arrow p{
    max-width: 115px;
    float: left;
}

/* media drug & drop */
.media_dd{
    background: url(../images/section_bg1.jpg) no-repeat top center;
    padding: 70px 0;
    color: #fff;
}

.content_title.icon_media_dd {
    background: url("../images/icon_media_drag_drop.png") no-repeat scroll center top;
    padding-top: 80px;
}

.mdd_right_arrow{
    background: url(../images/mdd_right_arrow.png) no-repeat left bottom;
    height: 230px;
    width: 390px;
    position: absolute;
    right: -65px;
    top: 140px;
}
span.mdd_right_arrow p{
    max-width: 150px;
    float: right;
}

.mdd_left_arrow{
    background: url(../images/mdd_left_arrow.png) no-repeat right center;
    height: 130px;
    width: 320px;
    position: absolute;
    left: -65px;
    top: 80px;
}
span.mdd_left_arrow p{
    max-width: 150px;
    float: left;
}

/* CONSISTENT CUSTOMIZED STYLING */
.cc_style{
    background: #fff;
    padding: 70px 0;
}

.content_title.cc_style_icon {
    background: url("../images/customized_styling_icon.png") no-repeat scroll center top;
    padding-top: 80px;
}

.ccs_right_arrow{
    background: url(../images/ccs_right_arrow.png) no-repeat left bottom;
    height: 200px;
    width: 260px;
    position: absolute;
    right: -115px;
    top: -20px;
}

span.ccs_right_arrow p{
    max-width: 175px;
    float: right;
}

/* version control */
.version_control{
    background: url("../images/section_bg2.jpg") no-repeat scroll center top;
    padding: 60px 0 50px;
    color: #fff;
}

.content_title.icon_version_control {
    background: url("../images/icon_version_control.png") no-repeat scroll center top;
    padding-top: 80px;
}

.vc_right_arrow{
    background: url(../images/vc_right_arrow.png) no-repeat left bottom;
    height: 130px;
    width: 260px;
    position: absolute;
    right: 20px;
    top: 155px;
}

span.vc_right_arrow p{
    max-width: 265px;
    float: right;
}

/* team_management */
.team_management{
    background: #fff;
    padding: 70px 0 30px;
}

.content_title.icon_team_management {
    background: url("../images/icon_team_management.png") no-repeat scroll center top;
    padding-top: 80px;
}

.tm_right_arrow{
    background: url(../images/tm_right_arrow.png) no-repeat left bottom;
    height: 140px;
    width: 400px;
    position: absolute;
    right: -130px;
    top: 300px;
}
span.tm_right_arrow p{
    width: 290px;
    float: right;
}

.tm_left_arrow{
    background: url(../images/tm_left_arrow.png) no-repeat right bottom;
    height: 170px;
    width: 300px;
    position: absolute;
    left: -222px;
    top: 0;
}
span.tm_left_arrow p{
    width: 290px;
    float: right;
}

span.tm_top_arrow{
    background: url(../images/tm_top_arrow.png) no-repeat center bottom;
    height: 180px;
    width: 100%;
    position: absolute;
    right: 0;
    top: -30px;
}
span.tm_top_arrow p{
    width: 100%;
    max-width: 100% !important;
    float: right;
}

/* testimonial */
.testimonial{
    background: #fafafa;
    padding: 70px 0;
    text-align: center;
    border-bottom: 1px solid #ececec;
}

.testimonial .carousel-inner > .item{
    min-height: 500px;
}

.content_title.icon_testimonial {
    background: url("../images/icon_testimonial.png") no-repeat scroll center top;
    padding-top: 80px;
}

.testimonial .owner_pic{
    display: inline-block;
    margin-bottom: 20px;
}

.testimonial .rating{
    margin: 15px 0;
    display: inline-block;
    width: 100%;
}

.testimonial .testimonial_content{
    background: url(../images/blockquote_left.png) no-repeat left top;
    display: block;
    text-align: left;
    padding: 0 35px 20px 50px;
    margin: 15px 0;
    position: relative;
}
.testimonial .testimonial_content:after{
    background: url(../images/blockquote_right.png) no-repeat right bottom;
    content: " ";
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35px;
    width: 35px;
}
.testimonial .testimonial_content p{
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
}

.testimonial .name{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.testimonial .name h2{
    color: #0ea29d;
}
.testimonial .name h2 span{
    font-size: 20px;
    color: #2e2e2e;
    font-weight: normal;
    padding-left: 5px;
}

/* clients */
.clients{
    background: #fff;
    padding: 70px 0;
}

.content_title.icon_clients {
    background: url("../images/icon_clients_title.png") no-repeat scroll center top;
    padding-top: 80px;
}

.clients .clients_logo{
    text-align: center;
}
.clients .clients_logo li{
    display: inline-block;
    margin: 0 10px 20px;
}
.clients .clients_logo li:first-child{
    margin-left: 0;
}
.clients .clients_logo li:last-child{
    margin-right: 0;
}

/* blog_content */
.blog_content{
    padding: 50px 0 30px;
}

.blog_container{
    margin: 0;
    padding: 0;
}

.blog_post{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.blog_post .post_image{
    display: block;
    margin-bottom: 20px;
}
.blog_post .post_image img{
    display: block;
    width: 100%;
}

.blog_post .post_title{
    padding-left: 65px;
    position: relative;
    padding-top: 14px;
    margin-bottom: 15px;
    min-height: 55px;
}
.blog_post .post_title:after{
    background: url(../images/post_title_icon.png) no-repeat left top;
    content: " ";
    clear: both;
    width: 47px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.blog_post .post_title h2{
    margin-bottom: 0;
    line-height: 24px;
}
.blog_post .post_title span{
    font-size: 12px;
    color: #cdcdcd;
    line-height: normal;
    display: block;
    font-weight: bold;
}

.blog_post p{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.blog_post .read_more{
    display: inline-block;
    text-transform: uppercase;
}

.blog_content{
    position: relative;
    margin-bottom: 15px;
}

.blog_content .post_meta{
    bottom: 20px;
    display: inline-block;
    left: 0;
    position: absolute;
}

.blog_content .post_meta span{
    display: inline-block;
    width: 70px;
    margin: 10px 0;
    padding-left: 25px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #cdcdcd;
    font-weight: bold;
}

.blog_content .post_meta .post_coments{
    background: url(../images/icon_coments.png) no-repeat left center;
}

.blog_content .post_meta .post_share{
    background: url(../images/icon_share.png) no-repeat left center;
}

.blog_content .load_more{
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
}


/* sidebar */
.sidebar{
    margin-bottom: 20px;
}

.sidebar .form-control{
    padding-right: 30px;
}

.widget{
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
}

.widget h2{
    position: relative;
    padding-left: 50px;
    min-height: 42px;
    line-height: normal;
    padding-top: 8px;
    margin-bottom: 25px;
}

.widget h2:before{
    background: url(../images/sideber_title_iconbox.png) no-repeat center center;
    content: " ";
    clear: both;
    height: 42px;
    width: 36px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.widget.icon_cat h2:before{
    background: url(../images/icon_sbt_catagory.png) no-repeat center center;
}
.widget.icon_archive h2:before{
    background: url(../images/icon_sbt_archives.png) no-repeat center center;
}

.widget ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.widget ul li{
    font-family: 'proxima_novasemibold';
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding-left: 44px;
    margin-bottom: 25px;
    cursor: pointer;
}

.widget ul li:before{
    background: url(../images/sideber_widget_list.png) no-repeat center center;
    content: " ";
    clear: both;
    height: 18px;
    width: 15px;
    position: absolute;
    left: 10px;
    top: 1px;
    z-index: 10;
}

.widget ul li.current-menu-item,
.widget ul li:hover{
    color: #0ea29d;
}
.widget ul li.current-menu-item:before,
.widget ul li:hover:before{
    background: url(../images/sideber_widget_list_hover.png) no-repeat center center;
}

.widget ul li:after{
    background: #ececec;
    clear: both;
    content: " ";
    height: 66px;
    left: 17px;
    position: absolute;
    top: -66px;
    width: 1px;
}

.icon_catagory_white{
    background: url(../images/icon_catagory_white.png) no-repeat center center;
}
.icon_folder_white{
    background: url(../images/icon_folder_white.png) no-repeat center center;
}

.icon_search{
    background: url(../images/icon_search.png) no-repeat right center;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 15px;
    right: 10px;
}

/* footer */
#footer{
    background: #4e4e4e;
    padding: 60px 0 15px;
    color: #fff;
}

#footer .footer_item{
    display: block;
    margin-bottom: 30px;
}

#footer h4{
    font-size: 16px;
    color: #999;
    margin-bottom: 15px;
    line-height: normal;
    text-transform: uppercase;
}

#footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#footer ul li{
    display: block;
    list-style: none;
    margin-bottom: 2px;
}
#footer p,
#footer ul li a{
    font-family: 'proxima_novasemibold', Arial, Sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    padding: 0;
    display: block;
    font-weight: normal;
}

#footer ul li:hover a{
    color: #0EA29D;
}

#footer .footer_logo{
    display: block;
    margin: 15px 0;
    text-align: center;
}

#footer .footer_logo li{
    display: inline-block;
    margin: 10px 23px 10px 0;
}
#footer .footer_logo li:last-child{
    margin-right: 0;
}

#footer .footer_logo li:hover .btn-default,
#footer .footer_logo li .btn-default{
    padding: 10px 20px 8px;
    color: #fff;
    line-height: normal;
}

#footer .footer_right{
    text-align: center !important;
}

/* copyright */
.copyright{
    background: #232323;
    padding: 15px 0;
    color: #999999;
}

.copyright .f_right{
    float: right !important;
}
.copyright .f_left{
    float: left !important;
}

.copyright p{
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.copyright .footer_menu{
    text-align: right;
}
.copyright ul {
    display: inline-block;
}

.copyright ul li{
    display: inline-block;
    margin: 0 15px;
}
.copyright ul li:last-child{
    margin-right: 0;
}

.copyright ul li a{
    display: block;
    font-weight: bold;
    color: #999;
    padding: 10px 0;
}

.copyright ul li:hover a{
    color: #0EA29D;
}


/* scrollup */
.scrollup {
    background: url("../images/top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 20px;
    display: block;
    height: 45px;
    position: fixed;
    right: 20px;
    width: 45px;
    z-index: 9999;
    opacity: 0.7;

    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.scrollup:hover{
    opacity: 1;
}


